/* service component in home page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* styling of navbar */

/* styling of home page */
.parent-service {
  padding: 4rem 0;
}

.parent-service .text-start {
  width: 20%;
}

.parent-service .text-start h1 {
  background-color: var(--lemon-color);
  border-radius: 0 35px 35px 0;
  color: var(--white);
}

.services {
  width: 90%;
}

/* why choose use styling */
/* .sub-whychoose {
  width: 90%;
} */

.band {
  /* width: 30%;
  height: 30px; */
  position: absolute;
  /* transform: rotate(45deg); */
  right: 0;
  top: 0;
  /* bottom: 269px; */
  /* overflow: hidden !important; */
}
/* testimonail styling */
.testimonial{
  background-color: var(--lemon-color);
}
.test-two{
  background-color: var(--white);
  color: var(--lemon-color);
}

/* styling of the sign in page */

.login-body h5{
  margin-left: 20px;
}

/* styling of pay */
.pay-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid red ;
  margin: 5px 0;
  background-color:#D9D9D973;
}

.pay-parent{
  padding: 11rem 0;
}